html, body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.envelope{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.container .row div{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    transition-delay: .5s;
    
}

.container .row div:hover{
    background-color: lightgreen;
    transition-delay: 0s;
}

button{
    height: 30px;
    margin-bottom: 10px;
}